 <!--manage location button-->
 <button>Manage Locations</button>

 <!--manage classes button-->
 <button>Manage Classes</button>

 <!--manage trainers button-->
 <button>Manage Trainers</button>

 <!--manage clients button-->
 <button>Manage Clients</button>

 <!--manage exercises button-->
 <button>Manage Exercises</button>

 <!--manage admins button-->
 <button>Manage Admins</button>

 <!--review red flags (check box and text field?-->
 <ul>
     <li>Flag: Note here about the flag</li>
     <li>Flag: Note here about the flag</li>
     <li>Flag: Note here about the flag</li>
 </ul>

