<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group">
      <div class="list-group-item scrollable-header">
        <h1 class="manageexhead">Manage Trainers</h1>
        <a href ui-turn-on="modal1" class="btn btn-default modal-popup-btn">Add New Trainer</a>
      </div>
      <div class="list-group-item">
        <table class="table">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Current Status</th>
            <th>Change Status</th>
          </tr>
          <tr ng-repeat="trainer in allTrainers" class="tableRow">
            <td>{{trainer.first_name}}</td>
            <td>{{trainer.last_name}}</td>
            <td>{{trainer.google_email}}</td>
            <td>{{trainer.admin}}</td>
            <td>
              <span ng-if="trainer.showHideStatus == true">Active</span>
              <span ng-if="trainer.showHideStatus == false">Inactive</span>
            </td>
            <td>
              <button class="btn" ng-if="trainer.showHideStatus == true" ng-click="makeTrainerInactive(trainer.id)">Set As Inactive</button>
              <button class="btn" ng-if="trainer.showHideStatus == false" ng-click="makeTrainerActive(trainer.id)">Set As Active</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div ui-content-for="modals">
  <div class="modal" ui-if="modal1" ui-state='modal1'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" ui-turn-off="modal1">&times;</button>
          <h4 class="modal-title">New Trainer</h4>
        </div>
        <div class="modal-body">
          <form>
            <fieldset>
              <div class="form-group">
                <label>First Name: </label>
                <input class="form-control" type="text" name="trainerFirstName" ng-model="newTrainer.first_name" placeholder=""/>
              </div>
              <div class="form-group">
                <label>Last Name: </label>
                <input class="form-control" type="text" name="trainerLastName" ng-model="newTrainer.last_name" placeholder=""/>
              </div>
              <div class="form-group">
                <label>Google Email: </label>
                <input class="form-control" type="text" name="trainerGoogleEmail" ng-model="newTrainer.google_email" placeholder=""/>
              </div>
              <div class="form-group">
                <label>Admin: </label>
                <input class="form-control" type="checkbox" name="trainerAdmin" ng-model="newTrainer.admin" placeholder=""/>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="addTrainer(trainerInfo)">Add Trainer</button>
          <button ui-turn-off="modal1" class="btn btn-default">Close</button>
<!--======= merge conflict-->
    <!--<div class="section">-->
        <!--<h1>Manage Trainers</h1>-->
        <!--<div class="panel-group" ui-state="myAccordion" ui-default="1">-->
          <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading" ui-set="{'myAccordion': 1}">-->
              <!--<h4 class="panel-title">-->
                <!--Add New Trainer-->
              <!--</h4>-->
            <!--</div>-->
            <!--<div ui-if="myAccordion == 1">-->
              <!--<div class="panel-body">-->
                    <!--<form>-->
                      <!--<fieldset>-->
                        <!--<div class="form-group">-->
                          <!--<label>First Name</label>-->
                          <!--<input  class="form-control" type="text" ng-model="$scope.trainerInfo.tFirstName">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                          <!--<label>Last Name</label>-->
                          <!--<input  class="form-control" type="text" ng-model="$scope.trainerInfo.tLastName">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                          <!--<label>Google Email</label>-->
                          <!--<input  class="form-control" type="text" ng-model="$scope.trainerInfo.googleEmail">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                          <!--<label>Make Admin</label>-->
                          <!--<input  class="form-control" type="checkbox" ng-model="$scope.trainerInfo.adminStatus">-->
                        <!--</div>-->

                        <!--<button ng-click="addTrainer($scope.trainerInfo)" type="button">Submit</button>-->
                        <!--</div>-->
                      <!--</fieldset>-->
                    <!--</form>-->
                  <!--</div>-->
              <!--</div>-->
      <!--<div class="panel panel-default">-->
      <!--<div ui-state="myAccordion" ui-default="2">-->
        <!--<div class="panel-heading" ui-set="{'myAccordion': 2}">-->
          <!--<h4 class="panel-title">-->
            <!--View & Edit Trainers-->
          <!--</h4>-->
        <!--</div>-->
        <!--<div ui-if="myAccordion == 2">-->
          <!--<div class="panel-body">-->
            <!--<div ng-repeat="trainer in allTrainers">-->
              <!--<p>{{trainer.first_name}}{{' '+trainer.last_name}} <button ng-click="showEdit($index)">edit</button></p>-->
              <!--<form ng-show="selected == $index" class="trainerEdit">-->
                <!--<fieldset>-->
                  <!--<div class="form-group">-->
                    <!--<label>First Name</label>-->
                    <!--<input  class="form-control" type="text" ng-model="trainer.first_name"-->
                            <!--value="{{trainer.first_name}}">-->
                  <!--</div>-->
                  <!--<div class="form-group">-->
                    <!--<label>Last Name</label>-->
                    <!--<input  class="form-control" type="text" ng-model="trainer.last_name"-->
                            <!--value="{{trainer.last_name}}">-->
                  <!--</div>-->
                  <!--<div class="form-group">-->
                    <!--<label>Google Email</label>-->
                    <!--<input  class="form-control" type="text" ng-model="trainer.google_email"-->
                            <!--value="{{trainer.google_email}}">-->
                  <!--</div>-->
                  <!--<div class="form-group">-->
                    <!--<label>Admin Status</label>-->
                    <!--<input  class="form-control" type="checkbox" ng-model="trainer.admin"-->
                            <!--value="{{trainer.admin}}">-->
                  <!--</div>-->

                  <!--<button ng-click="submitUpdate(trainer)">submit changes</button>-->
                <!--</fieldset>-->
              <!--</form>-->
            <!--</div>-->
          <!--</div>-->
<!--&gt;>>>>>> develop-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--original code before putting it in tables-->
<!--<div class="scrollable">-->
  <!--<div class="scrollable-content">-->
    <!--<div class="section">-->
      <!--<h1>Manage Trainers</h1>-->
        <!--<div class="panel-group" ui-state="myAccordion" ui-default="2">-->
          <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading" ui-set="{'myAccordion': 2}">-->
              <!--<h4 class="panel-title">-->
                <!--View & Edit Trainers-->
              <!--</h4>-->
            <!--</div>-->
            <!--<div ui-if="myAccordion == 2">-->
              <!--<div class="panel-body">-->
                <!--<div ng-repeat="trainer in allTrainers">-->
                  <!--<p>{{trainer.first_name}}{{' '+trainer.last_name}}<button ng-click="showEdit($index)">edit</button></p>-->
                  <!--<form ng-show="selected == $index" class="trainerEdit">-->
                    <!--<fieldset>-->
                      <!--<div class="form-group">-->
                        <!--<label>First Name</label>-->
                        <!--<input  class="form-control" type="text" ng-model="trainer.first_name" value="{{trainer.first_name}}">-->
                        <!--<label>Last Name</label>-->
                        <!--<input  class="form-control" type="text" ng-model="trainer.last_name" value="{{trainer.last_name}}">-->
                        <!--<label>Google Email</label>-->
                        <!--<input  class="form-control" type="text" ng-model="trainer.google_email" value="{{trainer.google_email}}">-->
                        <!--<label>Admin Status</label>-->
                        <!--<input  class="form-control" type="checkbox" ng-model="trainer.admin" value="trainer.admin">{{trainer.admin}}-->
                        <!--<button ng-click="submitUpdate(trainer)">submit changes</button>-->
                      <!--</div>-->
                    <!--</fieldset>-->
                  <!--</form>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
          <!--<div class="panel-group" ui-state="myAccordion" ui-default="1">-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading" ui-set="{'myAccordion': 1}">-->
                <!--<h4 class="panel-title">-->
                  <!--Add New Trainer-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div ui-if="myAccordion == 1">-->
                <!--<div class="panel-body">-->
                    <!--<form>-->
                      <!--<fieldset>-->
                        <!--<div class="form-group">-->
                          <!--<label>First Name</label>-->
                          <!--<input  class="form-control" type="text" ng-model="$scope.trainerInfo.tFirstName">-->
                          <!--<label>Last Name</label>-->
                          <!--<input  class="form-control" type="text" ng-model="$scope.trainerInfo.tLastName">-->
                          <!--<label>Google Email</label>-->
                          <!--<input  class="form-control" type="text" ng-model="$scope.trainerInfo.googleEmail">-->
                          <!--<label>Make Admin</label>-->
                          <!--<input class="form-control" type="checkbox" ng-model="$scope.trainerInfo.adminStatus">-->
                        <!--</div>-->
                      <!--</fieldset>-->
                    <!--</form>-->
                  <!--<button class="btn btn-block btn-default" ng-click="addTrainer($scope.trainerInfo)" type="button">Submit</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

    </div>
  </div>

