<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item scrollable-header">
                <h1 class="manageexhead">Manage Locations</h1>
                <a href ui-turn-on="modal1" class="btn btn-default modal-popup-btn">Add New Location</a>
            </div>
            <div class="list-group-item">
                <table class="table">
                    <tr>
                        <th>Current Locations</th>
                        <th>Current Status</th>
                        <th>Change Status</th>
                    </tr>
                    <tr ng-repeat="location in locations | orderBy: 'name'" class="tableRow">
                        <td>{{location.name}}</td>
                        <td>
                            <span ng-if="location.active_status == true">Active</span>
                            <span ng-if="location.active_status == false">Inactive</span>
                        </td>
                        <td>
                            <button class="btn" ng-if="location.active_status == true" ng-click="makeLocationInactive(location.id)">Set As Inactive</button>
                            <button class="btn" ng-if="location.active_status == false" ng-click="makeLocationActive(location.id)">Set As Active</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="modal1" ui-state='modal1'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close"
                            ui-turn-off="modal1">&times;</button>
                    <h4 class="modal-title">New Location</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label>Location Name: </label>
                                <input class="form-control" type="text" name="locationName" ng-model="saveLocation.locationName" placeholder=""/>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="saveLocation()">Add Location</button>
                    <button ui-turn-off="modal1" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>