<div class="section">
    <h2>Admin Dashboard</h2>

    <button class="btn btn-block btn-default" type="button"><a href="#adminlocation">Manage Locations</a></button>

 <!--manage classes button-->
    <button class="btn btn-block btn-default" type="button"><a href="#adminclasses">Manage Classes</a></button>

 <!--manage trainers button-->
    <button class="btn btn-block btn-default" type="button"><a href="#admintrainers">Manage Trainers</a></button>

 <!--manage clients button-->
    <button class="btn btn-block btn-default" type="button"><a href="#adminclients">Manage Clients</a></button>

 <!--manage exercises button-->
    <button class="btn btn-block btn-default" type="button"><a href="#adminexercises">Manage Exercises</a></button>
</div>
 <!--manage admins button-->
 <!--<button type="button">Manage Admins</button>-->

 <!--review red flags (check box and text field?-->
<div class="section">
<h4>Flags for Review</h4>
    <table class="table">
        <tr class="">
            <th>Date</th>
            <th>Trainer</th>
            <th>Client</th>
            <th>Note</th>
            <th>Action</th>
        </tr>
        <tr class="">
            <td colspan="5" ng-hide="flags.length >= 1">No Flags to Display</td>
        </tr>
        <tr ng-repeat="flag in flags" class="tableRow">
            <td>{{flag.date}}</td>
            <td>{{flag.trainer}}</td>
            <td>{{flag.client}}</td>
            <td>{{flag.note}}</td>
            <td><button class="btn btn-default"><a>Dismiss</a></button></td>
        </tr>
    </table>
 <!--Review Red Flags-->
    <!--<div class="form-group">-->
        <!--<label for="delete">Delete</label>-->
        <!--<input type="checkbox" id="delete" placeholder="Delete" />-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="redFlags">Red Flags:</label>-->
        <!--<input class="form-control"  type="textarea" id="redFlags" placeholder="Red Flags" />-->
    <!--</div>-->

 </div>




