<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
        <div class="section">
            <h1>Manage Clients</h1>

            <div class="list-group-item">
                <table class="table">
                    <h4>All Clients</h4>
                    <tr>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Last Workout</th>
                        <th>Current Status</th>
                        <th>Change Status</th>
                    </tr>
                    <tr ng-repeat="client in clients">
                        <td>{{client.first_name}} {{client.last_name}}</td>
                        <td>{{client.dob | date:'MMMM d, y'}}</td>
                        <td>Last Workout Date Here</td>
                        <td>
                            <span ng-if="client.active_status == true">Active</span>
                            <span ng-if="client.active_status == false">Inactive</span>
                        </td>
                        <td>
                            <button class="btn" ng-if="client.active_status == true" ng-click="makeInactive(client.id)">Set As Inactive</button>
                            <button class="btn" ng-if="client.active_status == false" ng-click="makeActive(client.id)">Set As Active</button>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
            </div>
    </div>
</div>

