<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
        <h1>Manage Trainers</h1>
        <div class="panel-group" ui-state="myAccordion" ui-default="1">
          <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 1}">
              <h4 class="panel-title">
                Add New Trainer
              </h4>
            </div>
            <div ui-if="myAccordion == 1">
              <div class="panel-body">
                    <form>
                      <fieldset>
                        <div class="form-group">
                          <label>First Name</label>
                          <input  class="form-control" type="text" ng-model="$scope.trainerInfo.tFirstName">
                        </div>
                        <div class="form-group">
                          <label>Last Name</label>
                          <input  class="form-control" type="text" ng-model="$scope.trainerInfo.tLastName">
                        </div>
                        <div class="form-group">
                          <label>Google Email</label>
                          <input  class="form-control" type="text" ng-model="$scope.trainerInfo.googleEmail">
                        </div>
                        <div class="form-group">
                          <label>Make Admin</label>
                          <input  class="form-control" type="checkbox" ng-model="$scope.trainerInfo.adminStatus">
                        </div>

                        <button ng-click="addTrainer($scope.trainerInfo)" type="button">Submit</button>
                        </div>
                      </fieldset>
                    </form>
                  </div>
              </div>
      <div class="panel panel-default">
      <div ui-state="myAccordion" ui-default="2">
        <div class="panel-heading" ui-set="{'myAccordion': 2}">
          <h4 class="panel-title">
            View & Edit Trainers
          </h4>
        </div>
        <div ui-if="myAccordion == 2">
          <div class="panel-body">
            <div ng-repeat="trainer in allTrainers">
              <p>{{trainer.first_name}}{{' '+trainer.last_name}} <button ng-click="showEdit($index)">edit</button></p>
              <form ng-show="selected == $index" class="trainerEdit">
                <fieldset>
                  <div class="form-group">
                    <label>First Name</label>
                    <input  class="form-control" type="text" ng-model="trainer.first_name"
                            value="{{trainer.first_name}}">
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input  class="form-control" type="text" ng-model="trainer.last_name"
                            value="{{trainer.last_name}}">
                  </div>
                  <div class="form-group">
                    <label>Google Email</label>
                    <input  class="form-control" type="text" ng-model="trainer.google_email"
                            value="{{trainer.google_email}}">
                  </div>
                  <div class="form-group">
                    <label>Admin Status</label>
                    <input  class="form-control" type="checkbox" ng-model="trainer.admin"
                            value="{{trainer.admin}}">
                  </div>

                  <button ng-click="submitUpdate(trainer)">submit changes</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>