<div class="scrollable">
    <div class="scrollable-content">
<div class="section">
        <h1>Admin Dashboard</h1>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-body">
                    <a href="#adminlocation" class="btn btn-block btn-default">Manage Locations</a>

                    <!--manage classes button-->
                    <a href="#adminclasses" class="btn btn-block btn-default">Manage Classes</a>

                    <!--manage trainers button-->
                    <a href="#admintrainers" class="btn btn-block btn-default">Manage Trainers</a>

                    <!--manage clients button-->
                   <a href="#adminclients" class="btn btn-block btn-default">Manage Clients</a>

                    <!--manage exercises button-->
                    <a href="#adminexercises" class="btn btn-block btn-default">Manage Exercises</a>
                </div>
            </div>
        </div>
    </div>

</div>
 <!--manage admins button-->
 <!--<button type="button">Manage Admins</button>-->

 <!--review red flags (check box and text field?-->
<div class="section">
<h4>Flags for Review</h4>
    <table class="table">
        <tr class="">
            <th>Date</th>
            <th>Trainer</th>
            <th>Client</th>
            <th>Note</th>
            <th>Action</th>
        </tr>
        <tr class="">
            <td colspan="5" ng-hide="flags.length >= 1">No Flags to Display</td>
        </tr>
        <tr ng-repeat="flag in flags" class="tableRow">
            <td>{{flag.date}}</td>
            <td>{{flag.trainer}}</td>
            <td>{{flag.client}}</td>
            <td>{{flag.note}}</td>
            <td><button class="btn btn-default"><a>Dismiss</a></button></td>
        </tr>
    </table>
 <!--Review Red Flags-->
    <!--<div class="form-group">-->
        <!--<label for="delete">Delete</label>-->
        <!--<input type="checkbox" id="delete" placeholder="Delete" />-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="redFlags">Red Flags:</label>-->
        <!--<input class="form-control"  type="textarea" id="redFlags" placeholder="Red Flags" />-->
    <!--</div>-->

 </div>
</div>
    </div>



