<div class="scrollable">
    <div class="scrollable-content">
<div class="section">
    <h1>Existing Client</h1>
    <div class="form-group">
        <label>Client Name: </label>
        <input class="form-control" type="text" name="clientName" ng-model="searchName.query" ng-change="nameQuery()" placeholder=""/>
        <div class="resultsBox" ng-hide="searchName.query.length < 1 || searchName.query.length == undefined">
            <ul ng-show="names.length >= 1" class="searchResults">
                <li ng-repeat="name in names"><a class="result" ng-click="selectClient(name.id, name.first_name, name.last_name)">{{name.first_name}} {{name.last_name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-body">
                    <a href="#personalhistory" class="btn btn-block btn-default">Personal Info</a>
                    <a href="#medical" class="btn btn-block btn-default">Medical History</a>
                    <a href="#fms" class="btn btn-block btn-default">New FMS</a>
                    <a href="#existingFms" class="btn btn-block btn-default">FMS History</a>
                    <a href="#workouthistory" class="btn btn-block btn-default">Workout History</a>
                    <a href="#workout" class="btn btn-block btn-default">Start New Workout</a>
                </div>
            </div>
        </div>
    </div>
</div>
