<!--fms intake info-->
<h1>Today's date:</h1>
<label for="handDominance">Hand dominance</label>
<input type="text" id="handDominance" />
right or Left
<label for="swingDominance">Swing dominance</label>
<input type="text" id="swingDominance" />
right or left
<label for="legDominance">Leg dominance</label>
<input type="text" id="legDominance" />
right or left
<label for="throwDominance">Throw dominance</label>
<input type="text" id="throwDominance" />
right or left
<button type="button">Submit</button>

<!--fms test-->
3 columns:
Test
Score
Dysfunction

// next row
// under test
1. Deep Squat
Toe Touch test
checkbox Able
checkbox Not able

// under score
small text field
small text field
small text field
small text field

// under dysfunction
open text field

