<!--fms intake info-->
<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
        <h1> New Functional Movement Screen</h1>
      <div class="panel-group" ui-state="myAccordion" ui-default="1">
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 1}">
            <h4 class="panel-title">
              Basic Info
            </h4>
          </div>
          <div ui-if="myAccordion == 1">
            <div class="panel-body">
              <form class="fmsForm">
                <fieldset>
                  <div class="form-group">
                    <label>Client Name: </label>
                    <input class="form-control" type="text" name="clientName" ng-model="searchName.query" ng-change="nameQuery()" placeholder=""/>
                    <div class="resultsBox" ng-hide="searchName.query.length < 1 || searchName.query.length == undefined">
                      <ul ng-show="names.length >= 1" class="searchResults">
                        <li ng-repeat="name in names"><a class="result" ng-click="selectName(name.id, name.first_name, name.last_name)">{{name.first_name}} {{name.last_name}}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group">
                  <label>Date of Screen: </label>
                  <input class="form-control" type="date" ng-model="fmsData.date"/>
                  </div>
                  <div class="form-group">
                    <label>Location: </label>
                    <div>
                      <label ng-repeat="location in locations" class="radio-inline">
                        <input type="radio" name="location" value="{{location.id}}" ng-model="fmsData.location" required/> {{location.name}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="display:inline-block">
                      <label>Hand Dominance:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div>
                          <label class="radio-inline">
                            <input type="radio" name="hDom" ng-model="fmsData.handDominance" value="left"/> Left
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="hDom" ng-model="fmsData.handDominance" value="right"/> Right
                          </label>
                        </div>
                    </div>
                    <div style="display:inline-block">
                      <label>Leg Dominance:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div>
                          <label class="radio-inline">
                            <input type="radio" name="lDom" ng-model="fmsData.legDominance" value="left"/> Left
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="lDom" ng-model="fmsData.legDominance" value="right"/> Right
                          </label>
                        </div>
                    </div>
                    <div style="display:inline-block">
                      <label>Swing Dominance:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div>
                          <label class="radio-inline">
                            <input type="radio" name="sDom" ng-model="fmsData.swingDominance" value="left"/> Left
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="sDom" ng-model="fmsData.swingDominance" value="right"/> Right
                          </label>
                        </div>
                    </div>
                    <div style="display:inline-block">
                      <label>Throw Dominance:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div>
                          <label class="radio-inline">
                            <input type="radio" name="tDom" ng-model="fmsData.throwDominance" value="left"/> Left
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="tDom" ng-model="fmsData.throwDominance" value="right"/> Right
                          </label>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Hand Length: </label>
                    <div>
                      <label>
                        <input class="form-control" type="number" name="handLength" ng-model="fmsData.handLength" min="1" max="12" style="width: 7em"required/>
                      </label>
                    </div>
                    <label>Shinbone Length: </label>
                    <div>
                      <label>
                        <input class="form-control" type="number" name="shinLength" ng-model="fmsData.shinLength" min="1" max="36" style="width: 7em"required/>
                      </label>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 2}">
            <h4 class="panel-title">
              Deep Squat
            </h4>
          </div>
          <div ui-if="myAccordion == 2">
            <div class="panel-body">
              <form class="fmsForm">
                <fieldset>
                  <div class="form-group">
                    <div style="padding-bottom:10px">
                      <label>Toe Touch Test: </label>
                        <label class="radio-inline">
                          <input type="radio" name="toeT" ng-model="fmsData.toeTouch" value="true"/> Able
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="toeT" ng-model="fmsData.toeTouch" value="false"/> Not Able
                        </label>
                    </div>
                    <div style="padding-bottom:10px">
                      <label>Deep Squat: </label>
                        <label class="radio-inline">
                          <input type="radio" name="dSquat" ng-model="fmsData.deepSquat" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="dSquat" ng-model="fmsData.deepSquat" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="dSquat" ng-model="fmsData.deepSquat" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="dSquat" ng-model="fmsData.deepSquat" value="0" required/> 0
                        </label>
                    </div>
                    <label>Dysfunction: </label>
                      <label>
                        <input class="form-control" type="text" ng-model="fmsData.deepSquatDF">
                      </label>
                    <p>Grading Criteria 3:
                      <br>-Upper torso is parallel with tibia or toward vertical
                      <br>-Femur below horizontal
                      <br>-Knees aligned over feet
                      <br>-Dowel aligned over feet</p>
                    <p>Grading Criteria 2:
                      <br>-Upper torso is parralel with tibia or toward vertical
                      <br>-Femur below horizontal
                      <br>-Knees aligned over feet
                      <br>-Dowel aligned over feet on a 2x4</p>
                    <p>Grading Criteria 1:
                      <br>Tibia and upper torso are not parallel
                      <br>-Femur not below horizontal
                      <br>-Knees not aligned over feet
                      <br>-Lumbar flexion noted</p>
                    <span ng-show="fmsForm.dSquat.$invalid">deep squat is required.</span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 3}">
            <h4 class="panel-title">
              Hurdle Step
            </h4>
          </div>
          <div ui-if="myAccordion == 3">
            <div class="panel-body">
              <form class="fmsForm">
                <fieldset>
                  <div class="form-group">
                    <div style="padding-bottom:10px">
                      <label>Shinbone Length: {{fmsData.shinLength}}</label>
                    </div>
                    <div style="display:inline-block">
                      <label>Left Leg Up: </label>
                        <label class="radio-inline">
                          <input type="radio" name="llUp" ng-change="hurdleTotal()" ng-model="fmsData.leftLegUp" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="llUp" ng-change="hurdleTotal()" ng-model="fmsData.leftLegUp" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="llUp" ng-change="hurdleTotal()" ng-model="fmsData.leftLegUp" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="llUp" ng-change="hurdleTotal()" ng-model="fmsData.leftLegUp" value="0" required/> 0&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                    <div style="display:inline-block">
                      <label>Right Leg Up: </label>
                        <label class="radio-inline">
                          <input type="radio" name="rlUp" ng-change="hurdleTotal()" ng-model="fmsData.rightLegUp" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rlUp" ng-change="hurdleTotal()" ng-model="fmsData.rightLegUp" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rlUp" ng-change="hurdleTotal()" ng-model="fmsData.rightLegUp" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rlUp" ng-change="hurdleTotal()" ng-model="fmsData.rightLegUp" value="0" required/> 0
                        </label>
                    </div>
                    <div style="padding:10px 0 10px 0">
                      <label>Hurdle Step: {{fmsData.hurdleStep}}</label>
                    </div>
                    <label>Dysfunction: </label>
                      <label>
                        <input class="form-control" type="text" ng-model="fmsData.hurdleDF">
                      </label>
                    <p>Grading Criteria 3:
                      <br>-The hips, knees & ankles remain aligned in the sagital plane
                      <br>-Minimal movement in the lumbar spine
                      <br>-Dowel & hurdle remain parallel</p>
                    <p>Grading Criteria 2:
                      <br>-Alignment is lost between hips, knees & ankles
                      <br>-Movement in the lumbar spine
                      <br>-Dowel & hurdle do not remain parallel</p>
                    <p>Grading Criteria 1:
                      <br>Contact with foot & hurdle
                      <br>-Loss of balance at any time</p>
                    <span ng-show="fmsForm.llUp.$invalid || fmsForm.rlUp.$invalid">left and right leg up are required.</span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 4}">
            <h4 class="panel-title">
              In Line Lunge
            </h4>
          </div>
          <div ui-if="myAccordion == 4">
            <div class="panel-body">
              <form class="fmsForm">
                <fieldset>
                  <div class="form-group">
                    <div style="padding-bottom:10px">
                      <label>Shinbone Length: {{fmsData.shinLength}}</label>
                    </div>
                    <div style="display:inline-block">
                      <label>Left Leg Forward: </label>
                        <label class="radio-inline">
                          <input type="radio" name="llForward" ng-change="lungeTotal()" ng-model="fmsData.leftLegForward" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="llForward" ng-change="lungeTotal()" ng-model="fmsData.leftLegForward" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="llForward" ng-change="lungeTotal()" ng-model="fmsData.leftLegForward" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="llForward" ng-change="lungeTotal()" ng-model="fmsData.leftLegForward" value="0" required/> 0&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                    <div style="display:inline-block">
                      <label>Right Leg Forward: </label>
                        <label class="radio-inline">
                          <input type="radio" name="rlForward" ng-change="lungeTotal()" ng-model="fmsData.rightLegForward" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rlForward" ng-change="lungeTotal()" ng-model="fmsData.rightLegForward" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rlForward" ng-change="lungeTotal()" ng-model="fmsData.rightLegForward" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rlForward" ng-change="lungeTotal()" ng-model="fmsData.rightLegForward" value="0" required/> 0
                        </label>
                    </div>
                    <div style="padding:10px 0 10px 0">
                      <label>In-line Lunge: {{fmsData.inLineLunge}}</label>
                    </div>
                    <label>Dysfunction: </label>
                      <label>
                        <input class="form-control" type="text" ng-model="fmsData.lungeDF">
                      </label>
                    <p>Grading Criteria 3:
                      <br>-Minimal to no torso movement
                      <br>-Feet remain in sagital plane on the 2x6
                      <br>-Knee touches 2x6 behind the heel of front foot</p>
                    <p>Grading Criteria 2:
                      <br>-Movement noted in torso
                      <br>-Feet do not remain in sagital plane on the 2x6
                      <br>-Knee does not touch 2x6 behind the heel of front foot</p>
                    <p>Grading Criteria 1:
                      <br>Loss of balance at any time</p>
                    <span ng-show="fmsForm.llForward.$invalid || fmsForm.rlForward.$invalid">Left and right leg forward are required.</span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 5}">
            <h4 class="panel-title">
              Shoulder Mobility
            </h4>
          </div>
          <div ui-if="myAccordion == 5">
            <div class="panel-body">
              <form class="fmsForm">
                <fieldset>
                  <div class="form-group">
                    <div style="padding-bottom:10px">
                      <label>Hand Length: {{fmsData.handLength}} &nbsp;&nbsp;||&nbsp;&nbsp; Length times 1.5 = {{handMultiplyer}}</label>
                    </div>
                    <div style="display:inline-block">
                      <label>Left Top: </label>
                        <label class="radio-inline">
                          <input type="radio" name="lTop" ng-change="shoulderTotal()" ng-model="fmsData.leftTop" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="lTop" ng-change="shoulderTotal()" ng-model="fmsData.leftTop" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="lTop" ng-change="shoulderTotal()" ng-model="fmsData.leftTop" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="lTop" ng-change="shoulderTotal()" ng-model="fmsData.leftTop" value="0" required/> 0&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                    <div style="display:inline-block">
                      <label>Right Top: </label>
                        <label class="radio-inline">
                          <input type="radio" name="rTop" ng-change="shoulderTotal()" ng-model="fmsData.rightTop" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rTop" ng-change="shoulderTotal()" ng-model="fmsData.rightTop" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rTop" ng-change="shoulderTotal()" ng-model="fmsData.rightTop" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rTop" ng-change="shoulderTotal()" ng-model="fmsData.rightTop" value="0" required/> 0
                        </label>
                    </div>
                    <div style="padding:10px 0 10px 0">
                      <label>Shoulder Mobility: {{fmsData.shoulderMobility}}</label>
                    </div>
                    <div style="display:inline-block">
                      <label>Left Impingement Test: </label>
                      <div>
                        <label class="radio-inline">
                          <input type="radio" name="lImpingement" ng-model="fmsData.leftImpingement" value="true"/> Positive
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="lImpingement" ng-model="fmsData.leftImpingement" value="false"/> Negative&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                      </div>
                    </div>
                    <div style="display:inline-block">
                      <label>Right Impingement Test: </label>
                      <div>
                        <label class="radio-inline">
                          <input type="radio" name="rImpingement" ng-model="fmsData.rightImpingement" value="true"/> Positive
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rImpingement"  ng-model="fmsData.rightImpingement" value="false"/> Negative
                        </label>
                      </div>
                    </div>
                    <div style="padding-top:10px">
                    <label>Dysfunction: </label>
                      <label>
                        <input class="form-control" type="text" ng-model="fmsData.shoulderDF">
                      </label>
                    </div>
                    <p>Grading Criteria 3:
                      <br>-Fists should be within one hand length</p>
                    <p>Grading Criteria 2:
                      <br>-Fists should be withing one and a half hand lengths</p>
                    <p>Grading Criteria 1:
                      <br>Fists fall greater than one and a half hand lengths</p>
                      <span ng-show="fmsForm.lTop.$invalid || fmsForm.rTop.$invalid">left and right top are required.</span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 6}">
            <h4 class="panel-title">
              Active Straight Leg Raise
            </h4>
          </div>
          <div ui-if="myAccordion == 6">
            <div class="panel-body">
              <form class="fmsForm">
                <fieldset>
                  <div class="form-group">
                    <div style="display:inline-block">
                      <label>Left Up: </label>
                        <label class="radio-inline">
                          <input type="radio" name="lStraight" ng-change="legRaiseTotal()" ng-model="fmsData.leftLegRaise" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="lStraight" ng-change="legRaiseTotal()" ng-model="fmsData.leftLegRaise" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="lStraight" ng-change="legRaiseTotal()" ng-model="fmsData.leftLegRaise" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="lStraight" ng-change="legRaiseTotal()" ng-model="fmsData.leftLegRaise" value="0" required/> 0&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                    <div style="display:inline-block">
                      <label>Right Up: </label>
                        <label class="radio-inline">
                          <input type="radio" name="rStraight" ng-change="legRaiseTotal()" ng-model="fmsData.rightLegRaise" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rStraight" ng-change="legRaiseTotal()" ng-model="fmsData.rightLegRaise" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rStraight" ng-change="legRaiseTotal()" ng-model="fmsData.rightLegRaise" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="rStraight" ng-change="legRaiseTotal()" ng-model="fmsData.rightLegRaise" value="0" required/> 0
                        </label>
                    </div>
                    <div style="padding:10px 0 10px 0">
                      <label>Active Straight Leg Raise: {{fmsData.activeStraightLeg}}</label>
                    </div>
                    <label>Dysfunction: </label>
                      <label>
                        <input class="form-control" type="text" ng-model="fmsData.legRaiseDF">
                      </label>
                    <p>Grading Criteria 3:
                      <br>-Malleoi resides between mid-thigh and ASIS</p>
                    <p>Grading Criteria 2:
                      <br>-Malleoi resides between mid-thigh and mid patella</p>
                    <p>Grading Criteria 1:
                      <br>-Malleoi resides below mid-patella</p>
                    <span ng-show="fmsForm.lStraight.$invalid || fmsForm.rStraight.$invalid">left and right up are required.</span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 7}">
            <h4 class="panel-title">
              Trunk Stability Push Up
            </h4>
          </div>
          <div ui-if="myAccordion == 7">
            <div class="panel-body">
              <form class="fmsForm">
                <fieldset>
                  <div class="form-group">
                    <div style="padding-bottom:10px">
                      <label>Trunk Stability Push Up: </label>
                        <label class="radio-inline">
                          <input type="radio" name="trunkPush" ng-model="fmsData.trunkPushUp" value="3" required/> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="trunkPush" ng-model="fmsData.trunkPushUp" value="2" required/> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="trunkPush" ng-model="fmsData.trunkPushUp" value="1" required/> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="trunkPush" ng-model="fmsData.trunkPushUp" value="0" required/> 0
                        </label>
                    </div>
                    <label>Prone Press Up Test: </label>
                      <label class="radio-inline">
                        <input type="radio" name="pronePress"ng-model="fmsData.pronePressUpTest" value="true"/> Positive
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="pronePress"ng-model="fmsData.pronePressUpTest" value="false"/> Negative
                      </label>
                    <div style="padding-top:10px">
                      <label>Dysfunction: </label>
                        <label>
                          <input class="form-control" type="text" ng-model="fmsData.trunkDF">
                        </label>
                    </div>
                    <p>Grading Criteria 3:
                      <br>-Males perform 1 rep with the thumbs at center of forehead
                      <br>-Females perform 1 rep with thumbs in line with the chin</p>
                    <p>Grading Criteria 2:
                      <br>-Males perform 1 rep with thumbs in line with the chin
                      <br>-Females perform 1 rep with thumbs in line with the clavicle</p>
                    <p>Grading Criteria 1:
                      <br>-Males unable to perform 1 rep with hands in line with chin
                      <br>-Females unable to perform 1 rep with thumbs in line with clavicle</p>
                    <span ng-show="fmsForm.trunkPush.$invalid">trunk stability push up is required.</span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 8}">
            <h4 class="panel-title">
              Rotary Stability Quadruped
            </h4>
          </div>
          <div ui-if="myAccordion == 8">
            <div class="panel-body">
              <form class="fmsForm">
                <fieldset>
                  <div class="form-group">
                    <label>Left Up: </label>
                      <label class="radio-inline">
                        <input type="radio" name="lRotary" ng-change="rotaryTotal()" ng-model="fmsData.rotaryLeftUp" value="3" required/> 3
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="lRotary" ng-change="rotaryTotal()" ng-model="fmsData.rotaryLeftUp" value="2" required/> 2
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="lRotary" ng-change="rotaryTotal()" ng-model="fmsData.rotaryLeftUp" value="1" required/> 1
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="lRotary" ng-change="rotaryTotal()" ng-model="fmsData.rotaryLeftUp" value="0" required/> 0&nbsp;&nbsp;&nbsp;&nbsp;
                      </label>
                    <label>Right Up: </label>
                      <label class="radio-inline">
                        <input type="radio" name="rRotary" ng-change="rotaryTotal()" ng-model="fmsData.rotaryRightUp" value="3" required/> 3
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="rRotary" ng-change="rotaryTotal()" ng-model="fmsData.rotaryRightUp" value="2" required/> 2
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="rRotary" ng-change="rotaryTotal()" ng-model="fmsData.rotaryRightUp" value="1" required/> 1
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="rRotary" ng-change="rotaryTotal()" ng-model="fmsData.rotaryRightUp" value="0" required/> 0
                      </label>
                    <div style="padding:10px 0 10px 0">
                      <label>Rotary Stability Quadruped: {{fmsData.rotaryStability}}</label>
                    </div>
                    <label>Kneeling Lumbar Flexion Test: </label>
                      <div>
                        <label class="radio-inline">
                          <input type="radio" ng-model="fmsData.kneelingLumbar" value="true"/> Positive
                        </label>
                        <label class="radio-inline">
                          <input type="radio" ng-model="fmsData.kneelingLumbar" value="false"/> Negative
                        </label>
                      </div>
                    <div style="padding-top:10px">
                      <label>Dysfunction: </label>
                        <label>
                          <input class="form-control" type="text" ng-model="fmsData.rotaryDF">
                        </label>
                    </div>
                    <p>Grading Criteria 3:
                      <br>-Performs 1 unilateral rep while keeping torso to board
                      <br>-Knee & Elbow touch in line with the board</p>
                    <p>Grading Criteria 2:
                      <br>-Performs 1 diagonal rep while keeping torso parallel to board
                      <br>-Knee & elbow touch in line with the board</p>
                    <p>Grading Criteria 1:
                      <br>-unable to perform diagonal repetitions</p>
                    <span ng-show="fmsForm.lRotary.$invalid || fmsForm.rRotary.$invalid">left and right up are required.</span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div>
          <h4>
            Total Score: {{fmsData.total}}
          </h4>
        </div>
      </div>
      <div>
        <button class="btn btn-block btn-default" ng-click="sendData()">Submit FMS</button>
      </div>
    </div>
  </div>
</div>