<!--Basic Medical Info-->
<div class="scrollable">
    <div class="scrollable-content">
<div class="section">
<h1>Medical History</h1>
    <h4>Last medical screening: {{lastMedical | date}}</h4>

    <div class="panel-group" ui-state="myAccordion" ui-default="1">
        <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 1}">
                <h4 class="panel-title">
                    Basic Information
                </h4>
            </div>

    <div ui-if="myAccordion == 1">
        <div class="panel-body">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="intakeDate">Intake Date</label>
                        <input class="form-control" type="date" id="intakeDate" ng-model="intakeDate"/>
                    </div>
                    <div class="form-group">
                        <label for="currentInjuries">Current Injuries</label>
                        <input class="form-control" type="textarea" id="currentInjuries" ng-model="currentInjuries"
                               placeholder="Current Injuries" />
                    </div>
                    <div class="form-group">
                        <label for="previousHistory">Previous medical history/surgery history</label>
                        <input class="form-control" type="textarea" id="previousHistory" ng-model="previousHistory"
                               placeholder="Previous medical history/surgery history" />

                    </div>
                    <div class="form-group">
                        <label for="otherMeds">List any medicines or supplements</label>
                        <input class="form-control" type="textarea" id="otherMeds" ng-model="otherMeds"
                               placeholder="List any medicines or supplements" />
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
        </div>
    </div>


<!--Symptoms from the last 24 hours-->
            <div class="panel panel-default">
                <div class="panel-heading" ui-set="{'myAccordion': 2}">
                    <h4 class="panel-title">
                        Last 24 Hours
                    </h4>
                </div>
                <div ui-if="myAccordion == 2">
                    <div class="panel-body">
                        <form>
                            <fieldset>
                                <h4>Check any that apply in the last 24 hours:</h4>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="infection" />
                                        Infection
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" ng-model="inflammation" />
                                        Inflammation
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" ng-model="flu" />
                                        Flu
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" ng-model="fever" />
                                        Fever
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" ng-model="cold" />
                                        Cold
                                    </label>

                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

<!--Long term medical conditions-->
        <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 3}">
                <h4 class="panel-title">
                    Medical Conditions
                </h4>
            </div>
            <div ui-if="myAccordion == 3">
                <p>Conditions Already Noted: {{prevDislocations}} {{prevPhlebitis}} {{prevNeckInjuries}}
                    {{prevLowBackPain}} {{prevBloodPressure}} {{prevHeartProblems}} {{prevHeadaches}}
                    {{prevArthritis}} {{prevNerves}} {{prevFainting}}</p>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <h4>Check any of the following that you currently or have ever had:</h4>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="dislocations" />
                                    Dislocations
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="phlebitis" />
                                    Phlebitis
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="neckInjuries" />
                                    Neck injuries
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="lowBackPain" />
                                    Low back pain
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="bloodPressure" />
                                    High blood pressure
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="heartProblems" />
                                    Heart problems
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="headaches" />
                                    Headaches
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="arthritis">
                                    Arthritis
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="nerves" />
                                    Numbness/tingling/nerve conditions
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" ng-model="fainting" />
                                    Fainting spells
                                </label>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

<!--Physicians Contact Information-->
    <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 3}">
            <h4 class="panel-title">
                Physician Contact
            </h4>
        </div>
        <div ui-if="myAccordion == 3">
            <div class="panel-body">
                    <h4>Physicians Name</h4>
                    <label for="physiciansName">Name</label>
                    <input type="text" ng-model="physiciansName" id="physiciansName" />
                    <h4>Physicians Phone Number</h4>
                    <label for="physiciansPhone">Phone Number</label>
                    <input type="number" ng-model="physiciansPhone" id="physiciansPhone" />
            </div>
        </div>
    </div>

<!--Signature Fields-->
<h1 ng-click="signatureActive()">Signature</h1>
<div ng-show="showSignature">
    <h3>Disclaimer text goes here. Disclaimer text goes here. Disclaimer text goes here. Disclaimer text goes here.</h3>

    <h4>Last signature: {{lastSig}}</h4>
    <h4>Date: {{lastSigDate | date}}</h4>

    <h3>Signature</h3>
    <label for="signature">Signature</label>
    <input type="text" ng-model="signature" id="signature" />
    <h3>Today's Date</h3>
    <label for="signatureDate">Date</label>
    <input type="date" ng-model="signatureDate" id="signatureDate" />

    <h3>Parent or Guardian, if under 18</h3>
    <h4>Last signature: {{lastSigUnderAge}}</h4>
    <h4>Date: {{lastSigDateUnderAge | date}}</h4>

    <h3>Parent or Guardian Signature</h3>
    <label for="signatureUnderAge">Signature</label>
    <input type="text" ng-model="signatureUnderAge" id="signatureUnderAge" />
    <h3>Today's Date</h3>
    <label for="signatureDateUnderAge">Date</label>
    <input type="date" ng-model="signatureDateUnderAge" id="signatureDateUnderAge" />
</div>
            </div>
        </div>
    </div>

<!--Submit!-->
<button id="med_submit" ng-click="saveMedical()" type="button">Submit</button>
