<!--Basic Medical Info-->
<div class="scrollable">
    <div class="scrollable-content">
<div class="section">
<h1>Medical History</h1>
    <h4>Last medical screening: {{lastMedical | date}}</h4>

    <div class="panel-group" ui-state="myAccordion" ui-default="1">
        <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 1}">
                <h4 class="panel-title">
                    Basic Information
                </h4>
            </div>

    <div ui-if="myAccordion == 1">
        <div class="panel-body">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="intakeDate">Intake Date</label>
                        <input class="form-control" type="date" id="intakeDate" ng-model="intakeDate"/>
                    </div>
                    <div class="form-group">
                        <label for="currentInjuries">Current Injuries</label>
                        <input class="form-control" type="textarea" id="currentInjuries" ng-model="currentInjuries"
                               placeholder="Current Injuries" />
                    </div>
                    <div class="form-group">
                        <label for="previousHistory">Previous medical history/surgery history</label>
                        <input class="form-control" type="textarea" id="previousHistory" ng-model="previousHistory"
                               placeholder="Previous medical history/surgery history" />

                    </div>
                    <div class="form-group">
                        <label for="otherMeds">List any medicines or supplements</label>
                        <input class="form-control" type="textarea" id="otherMeds" ng-model="otherMeds"
                               placeholder="List any medicines or supplements" />
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
        </div>
    </div>


<!--Symptoms from the last 24 hours-->
            <div class="panel panel-default">
                <div class="panel-heading" ui-set="{'myAccordion': 2}">
                    <h4 class="panel-title">
                        Last 24 Hours
                    </h4>
                </div>
                <div ui-if="myAccordion == 2">
                    <div class="panel-body">
                        <form>
                            <fieldset>
                                <h4>Check any that apply in the last 24 hours:</h4>
                                <div class="form-group">
                                    <label class="radio-inline" for="infection">Infection</label>
                                    <input type="radio" ng-model="infection" id="infection" />
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline" for="inflammation">Inflammation</label>
                                    <input type="radio" ng-model="inflammation" id="inflammation" />
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline" for="flu">Flu</label>
                                    <input type="radio" ng-model="flu" id="flu" />
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline" for="fever">Fever</label>
                                    <input type="radio" ng-model="fever" id="fever" />
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline" for="cold">Cold</label>
                                    <input type="radio" ng-model="cold" id="cold" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>


<!--Long term medical conditions-->
        <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 3}">
                <h4 class="panel-title">
                    Medical Conditions
                </h4>
            </div>
            <div ui-if="myAccordion == 3">
                <div class="panel-body">
                    <p>Conditions Already Noted: {{prevDislocations}} {{prevPhlebitis}} {{prevNeckInjuries}}
                        {{prevLowBackPain}} {{prevBloodPressure}} {{prevHeartProblems}} {{prevHeadaches}}
                        {{prevArthritis}} {{prevNerves}} {{prevFainting}}</p>
                    <h4>Check any of the following that you currently or have ever had:</h4>
                    <form>
                        <label for="dislocations">Dislocations</label>
                        <input type="checkbox" ng-model="dislocations" id="dislocations" />

                        <label for="phlebitis">Phlebitis</label>
                        <input type="checkbox" ng-model="phlebitis" id="phlebitis" />

                        <label for="neckInjuries">Neck injuries</label>
                        <input type="checkbox" ng-model="neckInjuries" id="neckInjuries" />

                        <label for="lowBackPain">Low back pain</label>
                        <input type="checkbox" ng-model="lowBackPain" id="lowBackPain" />

                        <label for="bloodPressure">High blood pressure</label>
                        <input type="checkbox" ng-model="bloodPressure" id="bloodPressure" />

                        <label for="heartProblems">Heart problems</label>
                        <input type="checkbox" ng-model="heartProblems" id="heartProblems" />

                        <label for="headaches">Headaches</label>
                        <input type="checkbox" ng-model="headaches" id="headaches" />

                        <label for="arthritis">Arthritis</label>
                        <input type="checkbox" ng-model="arthritis" id="arthritis">

                        <label for="nerves">Numbness/tingling/nerve conditions</label>
                        <input type="checkbox" ng-model="nerves" id="nerves" />

                        <label for="fainting">Fainting spells</label>
                        <input type="checkbox" ng-model="fainting" id="fainting" />
                    </form>
                </div>
            </div>
        </div>

<!--Physicians Contact Information-->
<h1 ng-click="physicianActive()">Physician Contact</h1>
<div ng-show="showPhysician">
    <h3>Physicians Name</h3>
    <label for="physiciansName">Name</label>
    <input type="text" ng-model="physiciansName" id="physiciansName" />
    <h3>Physicians Phone Number</h3>
    <label for="physiciansPhone">Phone Number</label>
    <input type="number" ng-model="physiciansPhone" id="physiciansPhone" />
</div>

<!--Signature Fields-->
<h1 ng-click="signatureActive()">Signature</h1>
<div ng-show="showSignature">
    <h3>Disclaimer text goes here. Disclaimer text goes here. Disclaimer text goes here. Disclaimer text goes here.</h3>

    <h4>Last signature: {{lastSig}}</h4>
    <h4>Date: {{lastSigDate | date}}</h4>

    <h3>Signature</h3>
    <label for="signature">Signature</label>
    <input type="text" ng-model="signature" id="signature" />
    <h3>Today's Date</h3>
    <label for="signatureDate">Date</label>
    <input type="date" ng-model="signatureDate" id="signatureDate" />

    <h3>Parent or Guardian, if under 18</h3>
    <h4>Last signature: {{lastSigUnderAge}}</h4>
    <h4>Date: {{lastSigDateUnderAge | date}}</h4>

    <h3>Parent or Guardian Signature</h3>
    <label for="signatureUnderAge">Signature</label>
    <input type="text" ng-model="signatureUnderAge" id="signatureUnderAge" />
    <h3>Today's Date</h3>
    <label for="signatureDateUnderAge">Date</label>
    <input type="date" ng-model="signatureDateUnderAge" id="signatureDateUnderAge" />
</div>
            </div>
        </div>
    </div>

<!--Submit!-->
<button id="med_submit" ng-click="saveMedical()" type="button">Submit</button>
