<h1>Personal Info</h1>
<!--Intake date: text field-->
<label for="intakeDate">Intake Date</label>
<input type="date" id="intakeDate" ng-model="intakeDate"/>

<!--Current injuries: text field-->
<label for="currentInjuries">Current Injuries</label>
<input type="textarea" id="currentInjuries" ng-model="currentInjuries" placeholder="Current Injuries" />
<!--Previous medical history/surgery history: text field-->
<label for="previousHistory">Previous medical history/surgery history</label>
<input type="textarea" id="previousHistory" ng-model="previousHistory" placeholder="Previous medical history/surgery history" />
<!--List any medicines or supplements: text field-->
<label for="otherMeds">List any medicines or supplements</label>
<input type="textarea" id="otherMeds" ng-model="otherMeds" placeholder="List any medicines or supplements" />

<h1>Check any that apply in the last 24 hours:</h1>
<form>
    <!--checkbox Infection-->
    <label for="infection">Infection</label>
    <input type="checkbox" ng-model="infection" id="infection" />
    <!--checkbox Inflammation-->
    <label for="inflammation">Inflammation</label>
    <input type="checkbox" ng-model="inflammation" id="inflammation" />
    <!--checkbox Flu-->
    <label for="flu">Flu</label>
    <input type="checkbox" ng-model="flu" id="flu" />
    <!--checkbox Fever-->
    <label for="fever">Fever</label>
    <input type="checkbox" ng-model="fever" id="fever" />
    <!--checkbox Cold-->
    <label for="cold">Cold</label>
    <input type="checkbox" ng-model="cold" id="cold" />
</form>

<h1>Check any of the following that you currently or have ever had</h1>
<form>
    <!--checkbox Dislocations-->
    <label for="dislocations">Dislocations</label>
    <input type="checkbox" ng-model="dislocations" id="dislocations" />
    <!--checkbox Neck injuries-->
    <label for="neckInjuries">Neck injuries</label>
    <input type="checkbox" ng-model="neckInjuries" id="neckInjuries" />
    <!--checkbox High blood pressure-->
    <label for="bloodPressure">High blood pressure</label>
    <input type="checkbox" ng-model="bloodPressure" id="bloodPressure" />
    <!--checkbox Heart problems-->
    <label for="heartProblems">Heart problems</label>
    <input type="checkbox" ng-model="heartProblems" id="heartProblems" />
    <!--checkbox Headaches-->
    <label for="headaches">Headaches</label>
    <input type="checkbox" ng-model="headaches" id="headaches" />
    <!--checkbox Fainting spells-->
    <label for="fainting">Fainting spells</label>
    <input type="checkbox" ng-model="fainting" id="fainting" />
    <!--checkbox Phlebitis-->
    <label for="phlebitis">Phlebitis</label>
    <input type="checkbox" ng-model="phlebitis" id="phlebitis" />
    <!--checkbox Numbness/tingling/nerve conditions-->
    <label for="nerves">Numbness/tingling/nerve conditions</label>
    <input type="checkbox" ng-model="nerves" id="nerves" />
</form>

<!--Physicians Name & Phone Number: text field-->
<h1>Physicians Name</h1>
<label for="physiciansName">Name</label>
<input type="text" ng-model="physiciansName" id="physiciansName" />
<h1>Physicians Phone Number</h1>
<label for="physiciansPhone">Phone Number</label>
<input type="number" ng-model="physiciansPhone" id="physiciansPhone" />

<!--Disclaimer text-->
<h1>Disclaimer text goes here. Disclaimer text goes here. Disclaimer text goes here. Disclaimer text goes here.</h1>

<!--Signature: text field-->
<h1>Signature</h1>
<label for="signature">Signature</label>
<input type="text" ng-model="signature" id="signature" />
<!--Today's Date:-->
<h1>Today's Date</h1>
<label for="signatureDate">Date</label>
<input type="date" ng-model="signatureDate" id="signatureDate" />
<!--Signature of Parent or Guardian if under 18: text field-->
<h1>Signature of Parent or Guardian if under 18</h1>
<label for="signatureUnderAge">Signature</label>
<input type="text" ng-model="signatureUnderAge" id="signatureUnderAge" />
<!--Today's Date:-->
<h1>Today's Date</h1>
<label for="signatureDate">Date</label>
<input type="date" ng-model="signatureDate" id="signatureDate" />

<!--Today's Date:-->

<button id="med_submit" ng-click="saveMedical()" type="button">Submit</button>
