<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <!--medical history button-->
            <button class="btn btn-block btn-default" type="button">
                <a href="#newmedical">Medical History</a>
            </button>
            <!--personal info button-->
            <button class="btn btn-block btn-default" type="button">
                <a href="#personal">Personal Info</a>
            </button>

            <!--fms button-->
            <button class="btn btn-block btn-default" type="button">
                <a href="#fms">FMS</a>
            </button>
            <!--workout button-->
            <button class="btn btn-block btn-default" type="button">
                <a href="#workoutmain">Workout</a>
            </button>
        </div>
    </div>
</div>