<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-body">
                            <a href="#personal" class="btn btn-block btn-default">Add New Personal Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>