<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <!--medical history button-->
            <!--<button class="btn btn-block btn-default" type="button">-->
                <!--<a href="#newmedical">Medical History</a>-->
            </button>
            <!--personal info button-->
            <button class="btn btn-block btn-default" type="button">
                <a href="#personal">Add New Personal Info</a>
            </button>

            <!--&lt;!&ndash;fms button&ndash;&gt;-->
            <!--<button class="btn btn-block btn-default" type="button">-->
                <!--<a href="#fms">FMS</a>-->
            <!--</button>-->
            <!--&lt;!&ndash;workout button&ndash;&gt;-->
            <!--<button class="btn btn-block btn-default" type="button">-->
                <!--<a href="#workoutmain">Workout</a>-->
            <!--</button>-->
        </div>
    </div>
</div>