<!--personal info form:-->
<form>
<h1>Personal Info</h1>
<!--name:-->
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" placeholder="First Name" />
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" placeholder="Last Name" />
<!--phone:-->
    <label for="phoneNumber">Phone number:</label>
    <input type="tel" id="phoneNumber" />
<!--email address:-->
    <label for="emailAddress">Email address:</label>
    <input type="email" id="emailAddress" placeholder="Email Address" />
<!--DOB - calendar dropdown-->
    <label for="dateOfBirth">Date of birth:</label>
    <input type="date" id="dateOfBirth" />
<!--height: ft, inches-->
    <p>Height:</p>
    <label for="heightFeet">Feet:</label>
    <input type="number" id="heightFeet" />
    <label for="heightInches">Inches:</label>
    <input type="number" id="heightInches" />
<!--weight:-->
    <label for="weightPounds">Weight (pounds):</label>
    <input type="number" id="weightPounds" />
<!--emergency contact: name: phone number-->
    <p>Emergency Contact:</p>
    <label for="emergencyContactName">Name:</label>
    <input type="text" id="emergencyContactName" placeholder="Emergency Contact Name" />
    <label for="emergencyContactNumber">Phone number:</label>
    <input type="tel" id="emergencyContactNumber" />
<!--submit button-->
    <button type="submit">Submit</button>
</form>