<!--personal info form:-->
<form>
<h1>Personal Info</h1>
<!--name:-->
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" ng-model="firstName" placeholder="First Name" />
    <label for="lastName">Last name:</label>
    <input type="text" ng-model="lastName" id="lastName" placeholder="Last Name" />
<!--phone:-->
    <label for="phoneNumber">Phone number:</label>
    <input type="tel" ng-model="phoneNumber" id="phoneNumber" />
<!--email address:-->
    <label for="emailAddress">Email address:</label>
    <input type="email" ng-model="emailAddress" id="emailAddress" placeholder="Email Address" />
<!--DOB - calendar dropdown-->
    <label for="dateOfBirth">Date of birth:</label>
    <input type="date" ng-model="dateOfBirth" id="dateOfBirth" />
<!--height: ft, inches-->
    <p>Height:</p>
    <label for="heightFeet">Feet:</label>
    <input type="number" ng-model="heightFeet" id="heightFeet" />
    <label for="heightInches">Inches:</label>
    <input type="number" ng-model="heightInches" id="heightInches" />
<!--weight:-->
    <label for="weightPounds">Weight (pounds):</label>
    <input type="number" ng-model="weightPounds" id="weightPounds" />
<!--emergency contact: name: phone number-->
    <p>Emergency Contact:</p>
    <label for="emergencyContactName">Name:</label>
    <input type="text" ng-model="emergencyContactName" id="emergencyContactName" placeholder="Emergency Contact Name" />
    <label for="emergencyContactNumber">Phone number:</label>
    <input type="tel" ng-model="emergencyContactNumber" id="emergencyContactNumber" />
<!--submit button-->
    <button id="personalInfo_submit" ng-click="savePersonalInfo()" type="button">Submit</button>
</form>