<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
        <div class="list-group">
                <h1>Workout History</h1>
                <h3>{{client.first_name}} {{client.last_name}}</h3>
            <div class="list-group-item">
                <table class="table">
                    <tr>
                        <th>Date:</th>
                        <th>Class Type:</th>
                        <th>Trainer:</th>
                        <th>Location:</th>
                    </tr>
                    <a>
                    <tr ng-repeat="workout in workouts" ng-click="getWorkout(workout.id)" class="tableRow">
                        <td>{{workout.date | date:'EEEE, MMMM d, y'}}</td>
                        <td>{{workout.class_type}}</td>
                        <td>{{workout.first_name}} {{workout.last_name}}</td>
                        <td>{{workout.name}}</td>
                    </tr>
                    </a>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>