<div class="scrollable">
<div class="scrollable-content">
<div class="section">
    <div class="list-group-item scrollable-header">
    <h1> New Workout</h1>
        </div>
    <div class="panel-group" ui-state="myAccordion" ui-default="1">
        <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 1}">
                <h4 class="panel-title">
                    Basic Info
                </h4>
            </div>
            <div ui-if="myAccordion == 1">
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label>Client Name(s): </label>
                                <input class="form-control" type="text" name="clientName" ng-model="searchName.query" ng-change="nameQuery()" placeholder=""/>
                                <div class="resultsBox" ng-hide="searchName.query.length < 1 || searchName.query.length == undefined">
                                    <ul ng-show="names.length >= 1" class="searchResults">
                                        <li ng-repeat="name in names"><a class="result" ng-click="selectName(name.id, name.first_name, name.last_name)">{{name.first_name}} {{name.last_name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Date of Session: </label>
                                <input class="form-control" type="date" name="date" ng-model="formData.date"/>
                            </div>
                            <div class="form-group">
                                <label>Location: </label>
                                <div>
                                <label class="radio-inline">
                                    <input type="radio" name="location" value="1" ng-model="formData.location"/>Minneapolis
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="location" value="2" ng-model="formData.location"/>St. Louis Park
                                </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 2}">
                <h4 class="panel-title">
                    Warm-Up Details
                </h4>
            </div>
            <div ui-if="myAccordion == 2">
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label>Warm Up: </label>
                                <textarea class="form-control" name="warmup" ng-model="formData.warmup"></textarea>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 3}">
                <h4 class="panel-title">
                    Exercises
                </h4>
            </div>
            <div ui-if="myAccordion == 3">
                <div class="panel-body">
                    <div class="form-group">
                        <table class="table">
                            <tr>
                                <th>Name:</th>
                                <th>Sets:</th>
                                <th>Reps:</th>
                                <th>Intensity:</th>
                            </tr>
                            <tr ng-repeat="exercise in formData.exercises">
                                <td>{{exercise.exercisename}}</td>
                                <td>{{exercise.sets}}</td>
                                <td>
                                    <span ng-if="exercise.minutes != null && exercise.seconds != null && exercise.number == null &&
                                    exercise.distance == null">{{(exercise.minutes * 60) + exercise.seconds}} sec</span>
                                    <span ng-if="exercise.minutes == null && exercise.seconds != null && exercise.number == null &&
                                    exercise.distance == null">{{exercise.seconds}} sec</span>
                                    <span ng-if="exercise.minutes != null && exercise.seconds ==  null && exercise.number == null &&
                                    exercise.distance == null">{{(exercise.minutes * 60)}} sec</span>
                                    <span ng-if="exercise.minutes != null  && exercise.seconds ==  null && exercise.number == null &&
                                    exercise.distance == null">{{(exercise.minutes * 60)}} sec</span>
                                    <span ng-if="exercise.minutes == null && exercise.seconds == null && exercise.number != null &&
                                    exercise.distance == null">{{exercise.number}} reps</span>
                                    <span ng-if="exercise.minutes == null && exercise.seconds == null && exercise.number == null &&
                                    exercise.distance != null">{{exercise.distance}} meters</span>
                                </td>
                                <td >
                                    <span ng-if="exercise.weight == 'body'">Body Weight</span>
                                    <span ng-if="exercise.weight == 'kgs'">{{exercise.intensity_kgs}}kgs</span>
                                    <span ng-if="exercise.weight == 'lbs'">{{exercise.intensity_lbs}}lbs</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label>Exercise Name:</label>
                                <input class="form-control" type="text" name="exercisename" ng-model="newExercise.exercisename" ng-change="exerciseQuery(text)" placeholder=""/>
                                <div class="resultsBox" ng-hide="newExercise.exercisename.length < 1 || newExercise.exercisename.length == undefined">
                                    <ul ng-show="newExercise.exercisename.length >= 1" class="searchResults">
                                        <li ng-repeat="exercise in exerciseResults"><a class="result" ng-click="selectExercise(exercise.id, exercise.name)">{{exercise.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Sets:</label>
                                <select name="sets" ng-model="newExercise.sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="rep-units">
                                    <label>Rep Units:</label>
                                    <select name="measurement" ng-model="newExercise.measurement" ng-change="showUnits()">
                                        <option value="#">Number</option>
                                        <option value="time">Time</option>
                                        <option value="distance">Distance</option>
                                    </select>
                                </div>

                                <div class="rep-type">
                                    <div ng-show="showReps">
                                        <label>Number of Reps:</label>
                                        <input type="number" name="number" ng-model="newExercise.number"/>
                                    </div>
                                    <div ng-show="showTime">
                                        <label>Time per Rep:</label>
                                        <label>M</label>
                                        <input type="number" name="minutes" ng-model="newExercise.minutes"/>
                                        <label>S</label>
                                        <input name="seconds" type="number" ng-model="newExercise.seconds"/>
                                    </div>
                                    <div ng-show="showDistance">
                                        <label>Distance per rep (in meters):</label>
                                        <input type="number" name="distance" ng-model="newExercise.distance"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Intensity:</label>
                                <label class="radio-inline">
                                    <input type="radio" name="weight" value="body" ng-model="newExercise.weight"/>Body Weight
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="weight" value="kgs" ng-model="newExercise.weight" ng-click="showKgIntensity()"/>Weight (kgs)
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="weight" value="lbs" ng-model="newExercise.weight" ng-click="showLbIntensity()"/>Weight (lbs)
                                </label>
                                <label ng-show="showKg" ><input type="number" name="kgweight" ng-model="newExercise.intensity_kgs"/> kgs</label>
                                <label ng-show="showLb" ><input type="number" name="lbweight" ng-model="newExercise.intensity_lbs"/> lbs</label>
                            </div>
                            <button class="btn" ng-click="addExercise()">Add Exercise</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ui-set="{'myAccordion': 4}">
                <h4 class="panel-title">
                    Wrap-Up
                </h4>
            </div>
            <div ui-if="myAccordion == 4">
                <div class="panel-body">
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <label>Stretches:</label>
                                    <textarea class="form-control" ng-model="formData.stretches"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Notes:</label>
                                    <textarea  class="form-control" ng-model="formData.notes"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Flag
                                        <input type="checkbox" name="flag" ng-model="formData.flag" ng-true-value="'yes'" ng-false-value="'no'">
                                    </label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <button class="btn btn-block btn-default" ng-click="sendForm()">Submit Workout</button>
</div>
    </div>
    </div>
</div>