<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <h1> New Workout</h1>
            <div class="panel-group" ui-state="myAccordion" ui-default="1">
                <div class="panel panel-default">
                    <div class="panel-heading" ui-set="{'myAccordion': 1}" >
                        <h4 class="panel-title">
                            Basic Info
                        </h4>
                    </div>
                    <div ui-if="myAccordion == 1">
                        <div class="panel-body">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label>Class Type: </label>
                                        <select id="class_dropdown" ng-model="formData.class" class="form-control" ng-options="class.class_type for class in classes">
                                            <option value="class.id">--Select A Class--</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Client Name(s): </label>
                                        <tags-input ng-model="searchName.query" display-property="fullName" replace-spaces-with-dashes="false"
                                                    key-property="id" on-tag-added="addName($tag)" on-tag-removed="removeName($tag)"
                                                    placeholder="Add a Client">
                                            <auto-complete source="loadNames($query)" max-results-to-show="15"></auto-complete>
                                        </tags-input>
                                    </div>
                                    <div class="form-group">
                                        <label>Date of Session: </label>
                                        <input class="form-control" type="date" name="date" ng-model="formData.date"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Location: </label>
                                        <div>
                                            <label ng-repeat="location in locations" class="radio-inline">
                                                <input type="radio" name="location" value="{{location.id}}"
                                                       ng-model="formData.location" class="location" ng-value=""/> {{location.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label>Class Type: </label>-->
                                        <!--<input class="dropdown" type="" name="" ng-model=""/>-->
                                    <!--</div>-->
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ui-set="{'myAccordion': 2}">
                        <h4 class="panel-title">
                            Warm-Up Details
                        </h4>
                    </div>
                    <div ui-if="myAccordion == 2">
                        <div class="panel-body">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label>Warm Up: </label>
                                        <textarea class="form-control" name="warmup" ng-model="formData.warmup"></textarea>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ui-set="{'myAccordion': 3}">
                        <h4 class="panel-title">
                            Exercises
                        </h4>
                    </div>
                    <div ui-if="myAccordion == 3">
                        <div class="panel-body">
                            <div class="form-group">
                                <table class="table">
                                    <tr>
                                        <th>Name:</th>
                                        <th>Sets:</th>
                                        <th>Reps:</th>
                                        <th>Intensity:</th>
                                    </tr>
                                    <tr ng-repeat="exercise in formData.exercises">
                                        <td>{{exercise.exercisename}}</td>
                                        <td>{{exercise.sets}}</td>
                                        <td>
                                            <span ng-if="exercise.minutes != null && exercise.seconds != null && exercise.number == null &&
                                            exercise.distance == null">{{(exercise.minutes * 60) + exercise.seconds}} sec</span>
                                            <span ng-if="exercise.minutes == null && exercise.seconds != null && exercise.number == null &&
                                            exercise.distance == null">{{exercise.seconds}} sec</span>
                                            <span ng-if="exercise.minutes != null && exercise.seconds ==  null && exercise.number == null &&
                                            exercise.distance == null">{{(exercise.minutes * 60)}} sec</span>
                                            <span ng-if="exercise.minutes != null  && exercise.seconds ==  null && exercise.number == null &&
                                            exercise.distance == null">{{(exercise.minutes * 60)}} sec</span>
                                            <span ng-if="exercise.minutes == null && exercise.seconds == null && exercise.number != null &&
                                            exercise.distance == null">{{exercise.number}} reps</span>
                                            <span ng-if="exercise.minutes == null && exercise.seconds == null && exercise.number == null &&
                                            exercise.distance != null">{{exercise.distance}} meters</span>
                                        </td>
                                        <td >
                                            <span ng-if="exercise.weight == 'body'">Body Weight</span>
                                            <span ng-if="exercise.weight == 'kgs'">{{exercise.intensity_kgs}}kgs</span>
                                            <span ng-if="exercise.weight == 'lbs'">{{exercise.intensity_lbs}}lbs</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label>Exercise Name:</label>
                                        <!--<tags-input ng-model="searchExercise.query" display-property="name" replace-spaces-with-dashes="false"-->
                                                    <!--key-property="id" on-tag-added="selectExercise($tag)" on-tag-removed="removeExercise($tag)" max-tags="1">-->
                                            <!--<auto-complete source="loadExercises($query)" max-results-to-show="15"></auto-complete>-->
                                        <!--</tags-input>-->

                                        <input class="form-control" type="text" name="exercisename" ng-model="newExercise.exercisename" ng-change="exerciseQuery(text)" placeholder=""/>
                                        <div class="resultsBox" ng-hide="newExercise.exercisename.length < 1 ||
                                        newExercise.exercisename.length == undefined || exerciseResults.length < 1 || exerciseResults.length == undefined">
                                            <ul ng-show="newExercise.exercisename.length >= 1" class="searchResults">
                                                <li ng-repeat="exercise in exerciseResults"><a class="result" ng-click="selectExercise(exercise.id, exercise.name)">{{exercise.name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="sets">
                                            <label>Sets:</label>
                                            <select name="sets" ng-model="newExercise.sets" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                        <div class="rep-units">
                                            <label>Rep Units:</label>
                                            <select name="measurement" ng-model="newExercise.measurement" ng-change="showUnits()" class="form-control">
                                                <option value="#">Number</option>
                                                <option value="time">Time</option>
                                                <option value="distance">Distance</option>
                                            </select>
                                        </div>

                                        <div ng-show="showReps" class="rep-type">
                                            <label>Number of Reps:</label>
                                            <input type="number" name="number" ng-model="newExercise.number" class="form-control"/>
                                        </div>
                                        <div ng-show="showTime" class="rep-type">
                                            <label class="timelabel">Time per Rep:</label>
                                            <div class="timeinput">
                                                <input type="text" name="minutes" ng-model="newExercise.minutes" class="form-control" size="2"/>
                                                <p class="time">Min</p>
                                            </div>
                                            <div class="timeinput">
                                                <input name="seconds" type="text" ng-model="newExercise.seconds" class="form-control" size="2"/>
                                                <p class="time">Sec</p>
                                            </div>
                                        </div>
                                        <div ng-show="showDistance" class="rep-type">
                                            <label>Meters per Rep:</label>
                                            <input type="number" name="distance" ng-model="newExercise.distance" class="form-control" size="2"/>
                                        </div>
                                        <div class="intensity">
                                            <label class="timelabel">Intensity:</label>
                                            <div class="timeinput">
                                                <select name="weight" ng-model="newExercise.weight" ng-change="showIntensity()" class="form-control">
                                                    <option value="body">Body Weight</option>
                                                    <option value="kgs">Weight(kgs)</option>
                                                    <option value="lbs">Weight(lbs)</option>
                                                    <option value="">None</option>
                                                </select>
                                            </div>
                                            <div ng-show="showKg" class="timeinput">
                                                <input type="text" name="kgweight" ng-model="newExercise.intensity_kgs" class="form-control kglbs" size="3"/>
                                                <p class="kglbstag">kgs</p>
                                            </div>
                                            <div ng-show="showLb" class="intensityinput">
                                                <input type="text" name="lbweight" ng-model="newExercise.intensity_lbs" class="form-control kglbs" size="3"/>
                                                <p class="kglbstag">lbs</p>
                                            </div>
                                        </div>
                                            <!--<label class="radio-inline">-->
                                                <!--<input type="radio" name="weight" value="body" ng-model="newExercise.weight"/>Body Weight-->
                                            <!--</label>-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input type="radio" name="weight" value="kgs" ng-model="newExercise.weight" ng-click="showKgIntensity()"/>Weight (kgs)-->
                                            <!--</label>-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input type="radio" name="weight" value="lbs" ng-model="newExercise.weight" ng-click="showLbIntensity()"/>Weight (lbs)-->
                                            <!--</label>-->
                                            <!--<label ng-show="showKg" ><input type="number" name="kgweight" ng-model="newExercise.intensity_kgs"/> kgs</label>-->
                                            <!--<label ng-show="showLb" ><input type="number" name="lbweight" ng-model="newExercise.intensity_lbs"/> lbs</label>-->
                                    </div>
                                    <button class="btn" ng-click="addExercise()">Add Exercise</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ui-set="{'myAccordion': 4}">
                        <h4 class="panel-title">
                            Wrap-Up
                        </h4>
                    </div>
                    <div ui-if="myAccordion == 4">
                        <div class="panel-body">
                                <form>
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Stretches:</label>
                                            <textarea class="form-control" ng-model="formData.stretches"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Notes:</label>
                                            <textarea  class="form-control" ng-model="formData.notes"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Flag
                                                <input type="checkbox" name="flag" ng-model="formData.flag" ng-true-value="'yes'" ng-false-value="'no'">
                                            </label>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <button class="btn btn-block btn-default" ng-click="sendForm()" ui-set="{'myAccordion': 1}">Submit Workout</button>
        </div>
    </div>
</div>
