<!--session info-->
<div>
    <h1>New Personal Training Session</h1>
    <form>
        <label for="clientName">Client Name: </label>
        <input type="text" name="clientName" id="clientName"/>
        <label for="location">Location: </label>
        <input type="radio" name="location" value="minneapolis"/>
        <input type="radio" name="location" value="stlouispark"/>
        <label for="date">Date of Session: </label>
        <input type="text" name="date" id="date"/>
    </form>
</div>

<!--enter warm up info-->
<div>
    <h1>Warm-up</h1>
    <form>
        <label for="warmup">Warm Up: </label>
        <textarea name="warmup" id="warmup"></textarea>
    </form>
</div>

<!--enter main workout info-->
<div>
    <h1>Workout</h1>
    <h2>Exercises: </h2>
    <table>
        <tr>
            <th>Name:</th>
            <th>Sets:</th>
            <th>Reps:</th>
            <th>Intensity:</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <form>
        <label for="name">Exercise Name:</label>
        <input type="text" name="name" id="name"/>
        <label for="sets">Sets:</label>
        <select name="sets" id="sets">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <label for="measurement">Rep Units:</label>
        <select name="measurement" id="measurement">
            <option value="#">Number</option>
            <option value="time">Time</option>
            <option value="distance">Distance</option>
        </select>
        <label for="number">Number of Reps:</label>
        <input type="number" name="number" id="number"/>
        <label>Time per Rep:</label>
        <label for="minutes">M</label>
        <input type="number" name="minutes" id="minutes"/>
        <label for="seconds">S</label>
        <input name="seconds" id="seconds" type="number"/>
        <label for="distance">Distance per rep (in meters):</label>
        <input type="number" name="distance" id="distance"/>
        <input type="submit"/>
    </form>
    <button>Finished with Exercises</button>
</div>

<!--enter stretches-->
<div>
    <form>
        <label for="stretches">Stretches:</label>
        <textarea id="stretches"></textarea>
    </form>
</div>

<!--enter notes and add flag if needed-->
<div>
    <form>
        <label for="notes">Notes:</label>
        <textarea id="notes"></textarea>
        <label for="flag">Flag</label>
        <input type="checkbox" name="flag" id="flag">
    </form>
</div>

<!--save workout information-->
<div>
    <button type="submit">Submit Workout</button>
</div>