.rep-type {
    display: inline-block;
    margin-right: 3%;
}

.rep-units {
    display: inline-block;
    margin-right: 3%;
    vertical-align: top;
}

.sets {
    display: inline-block;
    margin-right: 3%;
    vertical-align: top;
}

.intensity {
    display: inline-block;
    vertical-align: top;
}

.exercise-btn {
    float: right;
}

.manageexhead {
    display: inline-block;
}

.tableRow:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

tags-input .tags {
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchResults {
    margin: 0;
    padding: 8px;
    vertical-align: top;
    list-style-type: none;
}

.searchResults li {
    margin-bottom: 5px;
}

.resultsBox {
    position: absolute;
    margin-top: 4px;
    width: 100%;
    background: white;
    border: solid #d7d7d7 1px;
    z-index: 200;
}

.logo {
    width: 30%;
    display: block;
    margin: 2% auto;
}

.googleLogo {
    width: 20%;
    display: block;
    margin: 2% auto;
}

.welcome {
    padding: 3%;
    text-align: center;
}

.timeinput {
    display: inline-block;
    vertical-align: top;

    /*width: 25%;*/
}

.timelabel {
    display: block;
}

.time {
    margin: 0;
}

.intensityinput {
    /*width: 50%;*/
    display: inline-block;
    vertical-align: top;
}

.kglbs {
    margin: 0;
    display: inline-block;
    width: 45%;
}

.kglbstag {
    margin: 0;
    display: inline-block;
}
