.rep-type {
    display: inline-block;
}

.rep-units {
    display: inline-block;
    margin-right: 5%;
}

.modal-popup-btn {
    float: right;
}

.manageexhead {
    display: inline-block;
}

.tableRow:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}